<div class="task-card" *ngFor="let task of tasks">
  <div class="task-header">
    <span>
      <img src="/assets/{{ task.project }}.png" alt="{{ task.project }}">
      {{ task.project }} / 
      <svg [innerHTML]="svgCodes[task.id][task.product]"></svg> / 
      {{ task.version }} / 
      {{ task.functionCorrect }} {{ task.function }}
    </span>
  </div>
  <div class="task-body">
    <img src="/assets/{{ task.icon }}.png" alt="{{ task.icon }}">
    <p class="title">{{task.name}}</p>
    <span class="task-id">{{ task.id}} </span>
  </div>
  <div class="task-footer">
    <svg [innerHTML]="svgCodes[task.id][task.status]"></svg>
    <img src="{{ task.executorIcon }}" alt="Executor Icon" id="{{task.id}}">
    <label for="{{task.id}}">{{task.executorName}}</label>
  </div>
</div>